/*Font size for all the page*/
* {
    font-family: Arial, sans-serif;
}
/*everithing will be centered and there will be a background color*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e5dbc0, #d6c2a1);

}
/*A box for the 90% of the content and centered with a min-heigh*/
.box {
    width: 90%;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 40px;
    position: relative;
    display: flex;
    min-height: 500px; /*prevent the box from being smaller than the content*/
}
/*The content will be separated into two*/
.left{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    width: 50%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
/*The login form will fill almost all the widht, except when it is greater than 400px*/
.loginform {
    width: 90%;
    max-width: 400px;
}
/*Style for h2 inside the form*/
.loginform h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
/*Field of the form, label and input*/
.field {
    margin-bottom: 15px;
}
/*Style for the label*/
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
/*Style for the input*/
input {
    width: 90%;
    padding: 10px;

    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;

}
/*A border for the input when you are writting*/
input:focus {
    border-color: #2575fc;
    outline: none;
}
/*Style for the blue button*/
.blue-button {
    width: 100%;
    padding: 10px;
    background: #7DACFF;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
/*The blue button will be darker if the mouse is hover*/
.blue-button:hover {
    background: #1a5bbf;
}
/*The logo of the form is hidden unless for the mobile size*/
.logoform{
    display: none;
    width: 200px;
}
/*Logo will be at the top right*/
.logoleft{
    position: absolute;
        top: 20px;
        left: 20px;
        width: 200px;
}
/*Background image in the right*/
.right img{
    width: 70%;
    height: 80vh;
    border-radius: 40px;
    min-height: 300px; /*prevent the image from being smaller than the text*/
}
/*Text inside the right image*/
.inside-image {
    position: absolute;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
  }    
/*The layout of the elements will be changed when the width is less than 480px. So that each container occupies one row*/
@media (max-width: 480px) {
    /*Login form will have a white background*/
    .loginform {
        background: white;
        padding: 20px;
        border-radius: 10px;
        width: 95%;
        padding: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    /*blue-button will be smaller*/
    .blue-button {
        font-size: 16px;
    }
    /*left container will fit all the page*/
    .left{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*right container will disappears*/
    .right{
        width: 0;
        display: none;
    }
    /*Box will have the same background color than the body*/
    .box {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        background: linear-gradient(to right, #e5dbc0, #d6c2a1);
    }
    /*The logo in the left will deissapear*/
    .logoleft{
        display: none;
    }
    /*The logo will appear at the top of the form*/
    .logoform{
        display: flex;
        margin: 0 auto;
    }
}