/*GENERAL*/
    /*Align in the center*/
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* All the screen */
        width: 100%;
        background-color: #EDE7DC;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    /* Button Blue*/
    .button-blue {
    background-color: #7DACFF;
    border: 1px solid #7DACFF;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    padding: 6px 16px;
    }

    /*Botton Blue when the mouse is hover*/
    .button-blue:hover {
    background-color: #4986f1;
    border: 1px solid #4986f1;
    }

    /*Botton Gray*/
    .button-gray {
        background-color: #B9B9B9;
        border: 1px solid #B9B9B9;
        border-radius: 20px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
        font-size: 14px;
        font-weight: 600;
        padding: 6px 16px;
    }

    /*Botton Gray when the mouse is hover*/
    .button-gray:hover {
        background-color: gray;
        border: 1px solid gray;
    }

    /* Put the logo in the top-left */
    .logo {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 200px;
    }




/*LOGIN*/
    /* We add a rectangle in the middle, occupying 90% */
    .box{
        width: 90%;
        height: 90vh;
        background-color: white;
        border-radius:20px;
        position: relative;
    }
    .boxlogin{
        display: flex;
        
    }
    .left{
        display: flex;
        grid-area: left;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right{
        display: flex;
        grid-area: right;
        display:flex;
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;

    }
    .centered {
        position: absolute;
        padding-left: 15%;
        padding-right: 15%;
        color: white;
      }    
      .right img{
        width: 60%;
        height: 80vh;
        border-radius: 20px;
      }
      @media (max-width: 1325px){
        .left{
            width: 100%;
            height: 100%;
        }
        .left form {
            padding: 20px;
            border-radius: 10px;
            width: 90%;
            max-width: 400px;
        }

        .left h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        .field {
            margin-bottom: 15px;
        }

        .left label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .left input {
            width: 100%;
            padding: 10px;

            font-size: 16px;
        }
        .right{
            display: none;
        }
        .box{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    }





/*LOGIN & SIGNUP
    /*Make input with a line in the bottom and with the placeholder*/
    input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        border: none;
        border-bottom: 2px solid gray;
        background: transparent;
        outline: none;
    }




/*SIGN UP*/
    /*A class for the form*/
    .boxsignup {
        justify-content:center;
        align-items: center;
        display: flex;
    }

    /*Algin them and leave an space between them*/
    .sginupgroup{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        gap:20px;

    }

    /*Align the form in the middle and occupies the half of the box*/
    .boxsignup form{
        flex:1;
        margin: 50vh;
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    /*Put the elements together*/
    .signupgroup{
        display: flex;    
        gap: 20px;
        justify-content: center;
    }

    /*Make the button occupy all the width of the form*/
    .boxsignup button{
        width: 45%;
    }

    /*Make the images occupy all the width of the form*/
    .boxsignup img{
        flex: 1;
        height: auto;
        max-width: 25%;
        border-radius: 100px;
    }

    /*h1 for the form*/
    .boxsignup h1{
        font-size: 50px;
    }
