/*Font size for all the page*/
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/*everithing will be centered and there will be a background color*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #e5dbc0, #d6c2a1);    
    min-height: 100vh;
}
/*A box for the 90% of the content and centered with a min-heigh*/
.box {
    width: 90%;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 40px;
    position: relative;
    display: flex;
    min-height: 700px;
}
/*The sign up form will fill almost all the widht, except when it is greater than 800px*/
.signupform {
    max-width: 800px;
    width: 90%;
}
/*Style for h2 inside the form*/
.signupform h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
/*Style for p inside the form*/
.signupform p {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
/*Field of the form, label and input*/
.field {
    margin-bottom: 15px;
    display: flex;

    width: 100%;
    justify-content: center;
    flex-direction: column;
}
/*A container for the avatar images, will be center and with a gap*/
.imggroup{
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5%;
}
/*Some fields will be group in the same row*/
.fieldgroup {
    display:flex;
    align-items: center;
    gap: 20px;
}
/*Style for the label*/
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
/*Style for the input*/
input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;

}
/*A border for the input when you are writting*/
input:focus {
    border-color: #2575fc;
    outline: none;
}
/*Style for the blue button*/
.blue-button {
    width: 100%;
    padding: 10px;
    background: #7DACFF;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
/*The blue button will be darker if the mouse is hover*/
.blue-button:hover {
    background: #1a5bbf;
}
/*Style for the gray button*/
.gray-button {
    width: 100%;
    padding: 10px;
    background: #B9B9B9;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
/*The gray button will be darker if the mouse is hover*/
.gray-button:hover {
    background: gray;
}
/*The logo of the form is hidden unless for the mobile size*/
.logoform{
    display: none;
    width: 200px;
}
/*Logo will be at the top right*/
.logo{
    position: absolute;
        top: 20px;
        left: 20px;
        width: 200px;
}
/*The images are in a checkbox and is hidden*/
.imagecheckbox {
    display: none;
}
/*Images of the checkbox*/
.imagelabel {
    width: 25%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 100px;
    overflow: hidden;
    display: block;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
/*Label will have a border when they are hover and checked*/
.imagelabel-label {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
  }
  .imagelabel:hover {
    border: 2px solid #00f;
    filter: brightness(0.8);
  }
  .imagelabel:checked + .imagelabel{
    box-shadow: 0 0 0 4px #007bff;
    transform: scale(0.98);
  }
/*Style of the images*/
  .imagelabel img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 100px; 
  }
/*The layout of the elements will be changed when the width is less than 480px. So that each container occupies one row*/
@media (max-width: 1325px) {
    /*Sign Up form will have a white background*/
    .signupform {
        background: white;
        padding: 20px;
        border-radius: 10px;
        width: 95%;
        padding: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        
    }
    /*blue-button will be smaller*/
    .blue-button {
        font-size: 16px;
    }
    /*Box will have the same background color than the body*/
    .box {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        background: linear-gradient(to right, #e5dbc0, #d6c2a1);
    }
    /*The logo in the left will deissapear*/
    .logo{
        display: none;
    }
    /*The logo will appear at the top of the form*/
    .logoform{
        display: flex;
        margin: 0 auto;
    }
}
